@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Request Mentee Contact";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

﻿@model CRM3._0.ViewModels.MenteeViewModel
<h2>@ViewBag.Title</h2>